body {
    font-family: Metrophobic;
}

.btn {
    color: white !important;
    background-color: black !important;
    border-color: white !important;
}

.jumbotron {
    border-radius: 0rem !important;
    color: white !important;
    padding-top: 200px !important;
    margin-bottom: 0px !important;
}

.bg-dark {
    color: white !important;
}

.bottom-part {
    margin-top: 2rem;
}

.logo {
    font-size: 200px;
}

.display-5, h4 {
    padding-top: 20px;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

h2, h4 {
    padding-bottom: 30px;
}

.lead, .small {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.row {
    padding-bottom: 50px;
}

#offers {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-color: white;
    border-bottom: 1px solid;
    width: 40%;
    margin: 0 auto;
}

#service {
    padding-bottom: 20px;
    border-bottom-color: black;
    border-bottom: 1px solid;
    width: 40%;
    margin: 0 auto;
}

.vertical-timeline-element-title, .vertical-timeline-element-subtitle {
    color: black;
}

.fas {
    padding-bottom: 20px;
    padding-top: 20px;
}

#title {
    
}

#title-text {
    margin-top: 8px !important;
    font-size: 3em;
}

#midtext {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 25px;
    padding-bottom: 25px;
}

#aa {
    
}

#desc-row2 {
    padding-top: 50px;
    padding-bottom: 80px;
}

#desc-row1 {
    padding-bottom: 100px;
}

#desc {
    padding-top: 30px;
}

@media screen and (max-width: 768px) {
    .col-sm-6 {
        text-align: center;
        margin: 25px 0;
    }
    
    .small {
        padding-bottom: 50px;
        
    }
    
    .row {
        padding-bottom: 5px;
    }
    
    #page-title {
        font-size: 36px;
    }
    
    #title {
        font-size: 12px !important;
    }
    
    .desc-comp {
        padding-bottom: 50px;
    }
    
    #first-row {
        padding-top: 45px;
    }
    
    #desc-row1 {
        padding-bottom: 25px !important;
    }
    
}
